[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
motor = "<2"
pytz = "*"
nflapi = {editable = true,git = "https://github.com/ca3tech/nflapi.git"}

[requires]
python_version = "3.6"
